/* Headings */
h1 {
    font-family: 'Satisfy', cursive;
    color: #136f94;
    font-size: 35px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffc9d4;
}

.container {
    width: auto;
    white-space: normal;
}

/* Body */
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(111, 128, 128);
    background-color: rgb(217, 231, 235);
    display:block;
    width: auto;
    height:900px;
    overflow:scroll;
}

.body-div {
    margin: 10px;
    height: 500px;
    width: 500px;
    display: inline-block;
}

.row {
    width: 50%;
    height: 100%;
}

.row-div {
    width: 100%;
    height: 50%;
    float: left;
}

/* Image */
img {
    display: block;
    object-fit: cover;
    width: 50%;
    height:50%;
}

/* Logo */
.logo {
    display: block;
    object-fit: contain;
    width: 8%;
    height:8%;
}

/* Flash */
.flash-msg {
    font-family: 'Consolas', monospace;
    color: #136f94;
    background-color: FSEF87;
    font-size: 20px; line-height: 20px; padding: 10px;
}

/* Forms */
input[type="text"] {
    width: auto;
    vertical-align: top;
}


/* Button */
.button {
    color: rgba(163, 145, 146, 0.342); font-size: 30px; line-height: 24px; padding: 10px; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #69757c; }
    .myButton:active {
    background: #708692; 
}


