
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  
  <title> Dream Disney Day </title>
  <link rel="stylesheet" href="/static/css/site.css">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      {% if "pkey" in session %}
      <a class="navbar-brand" href="/user_profile"> Dream Disney Day </a>
      {% else %}
      <a class="navbar-brand" href="/"> Dream Disney Day </a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          {% if "pkey" in session %}
          <a class="nav-link" href="/user_profile">See Saved</a>
          <a class="nav-link" href="/form">Create New</a>
          {% endif %}

    <div class="nabar-nav justify-content-end">
        {% if "pkey" in session %}
          <a class="nav-link" href="/logout">Log Out</a>
        {% else %}
            <a class="nav-link" href="/" data-bs-toggle="modal" data-bs-target="#modal-sign-up">Sign Up</a>
            <a class="nav-link" href="/" data-bs-toggle="modal" data-bs-target="#modal-login">Log In</a>
      {% endif %}
    </div>
  </div>
  </div>
</div>
</div>
  </nav>
  <body>
      {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
          {{ msg }}
        </p>
      {% endfor %}
  
  {% block body %}{% endblock %}

</body>
  </head>
</html>

