{% extends 'base.html' %}

{% block body %}
  <h1> Welcome, let's plan you dream day! </h1>

    <h3>Please fill out the form below.</h3>
  
    <body>
    <form action="results" method="POST">
  
        <br>
        First, what do you want to name your trip?
        <br>
        ex. "Besties Girl Trip!" or "Taylor Family Reunion 2021"
        <br>
        <input type="text" name="trip-name">
        <br>

        <p>Tell me about your travel group.</p>
    
        <select name='q_travel_grp'>
        <option value="Adults; no kids">Adults; no kids</option>
        <option value="Family; kids under 8">Family; kids under 8</option>
        <option value="Family; kids over 8">Family; kids over 8</option>
        <option value="Large group, 6+">Large group, 6+</option>
    </select>
    <br>

    <p>
        What will the weather be like?</p>

    <input type="radio" id="warm-weather" name="q_weather" value="hot">
        <label> Sunny and warm </label>
    <input type="radio" id="cool-weather" name="q_weather" value="not hot">
        <label> Cool and cloudy </label>
    <br>

    <p>
        Do you like dark rides?
    <br>
    for example: Haunted Mansion, The Many Adventures of Winnie the Pooh, Peter Pan's Flight</p>

    <input type="radio" id="yes-dark" name="q_dark_ride" value=True>
        <label> Yes </label>
    <input type="radio" id="no-dark" name="q_dark_ride" value=False>
        <label> No </label>
    <br>

    <p>
        Do you like thrill rides?
    <br>
    for example: Matterhorn Bobsleds, Big Thunder Mountain Railroad, Space Mountain</p>

    <input type="radio" id="yes-thrill" name="q_thrill_ride" value=True>
        <label> Yes </label>
    <input type="radio" id="no-thrill" name="q_thrill_ride" value=False>
        <label> No </label>
    <br>
    

    <p>
        Do you get motion sick easily?
    <br>
    for example: Mad Tea Party, Finding Nemo Submarine Voyage, Star Tours - The Adventures Continue</p>

    <input type="radio" id="yes-sick" name="q_motion_sick" value=True>
        <label> Yes </label>
    <input type="radio" id="no-sick" name="q_motion_sick" value=False>
        <label> No </label>
    <br>


    <p>Are you just here for the food, ambiance and pictures?
    <br>
    for example: Club 33, Tiki Juice Bar, Blue Bayou, Mint Julep Bar</p>

    <input type="radio" id="yes-ride" name="q_foodie" value=True>
        <label> Yes </label>
    <input type="radio" id="no-ride" name="q_foodie" value=False>
        <label> No </label>
    <br>

    <br>
       Which ride(s) do you have to go on?
    <br>
    <br>
    <input type="text" name="must_ride_1">
    <br>
    <input type="text" name="must_ride_2">
    <br>
    <input type="text" name="must_ride_3">
    <br>

    <h4>Once you have completed the form, please hit the submit button.</h4>
    <br>

    <p><input type="submit" value="Submit"></p>
  </form>
</body>
{% endblock %}
