<!-- Itinerary is for small family, young kids -->

<!DOCTYPE html>
<html lang="en">

<body>
    <section id="itinerary_young_kids">
        <ol id="itinerary_no_kids_rides">

        <li> Walt Disney's Enchanted Tiki Room </li>
        <li> Mickey's House and Meet Mickey </li>
        <li> Gadget's Go Coaster </li>
        <li> Dumbo the Flying Elephant </li>
        <li> Astro Orbitor </li>
        <li> Casey Jr. Circus Train </li>
        <li> King Arthur Carrousel </li>
        <li> The Many Adventures of Winnie the Pooh </li>

      </section>

        <script src="/static/api_client.js"></script>

</body>