<!-- Itinerary is for Adults, no kids -->

<!DOCTYPE html>
<html lang="en">

<body>
    <section id="itinerary_no_kids">
        <ol id="itinerary_no_kids_rides">

        <li> Matterhorn Bobsleds </li>
        <li> Star Wars: Rise of the Resistance </li>
        <li> Pirates of the Caribbean </li>
        <li> Haunted Mansion </li>
        <li> Indiana Jones Adventure </li>
        <li> Big Thunder Mountain Railroad </li>
        <li> Disneyland Railroad </li>


      </section>

        <script src="/static/api_client.js"></script>

</body>