<!-- place where user can login and look at current and past itineraries -->

{% extends 'base.html' %}
{% block title %} Welcome! {% endblock %}

{% block body %}

{% if  form %}

<h2> Would you like to see your saved itinerary? </h2>
    
    <p> <a href=user_profile > <button style="height:75px;width:150px"> Click here </button></a> </p>

    <br>

<h2> Would you like to create a new itinerary? </h2>
    
    <p> <a href=form > <button style="height:75px;width:150px"> Click for new </button></a> </p>

    <br>
 {% else %}

 <h2> Would you like to create a new itinerary? </h2>
    
    <p> <a href=form > <button style="height:75px;width:150px"> Click for new </button></a> </p>

    <br>

{% endif %}

{% endblock %}