<!-- place where user can login and look at current and past itineraries -->
<!-- place to upload photos and notes, part of 2.0 -->

{% extends 'base.html' %}
{% block title %} Welcome! {% endblock %}

{% block body %}
    <h1>Here is your saved itinerary: </h1>

    <body id="saved-result">
<!-- need buttons with links to take us to the correct URL -->
<!-- just have the itinerary load on the page when they login then ask if they want a new one -->
            <ol>
                <!-- need to figure out why the first ride is separate in the list -->
                {% for ride in ride_name %}
                <li>{{ ride.name }}</li>
            </ol>
            {% endfor %}
    </body>
    <h2> Would you like to create a new itinerary? </h2>
    
    <p> <input type="submit" value="Yes"> </p>

    <br>
{% endblock %}

<!-- other option -->
<!-- could use nav bar new trip, profile, log out/in -->