<!-- place where user can login and look at current and past itineraries -->
<!-- place to upload photos and notes, part of 2.0 -->

{% extends 'base.html' %}
{% block title %} Welcome! {% endblock %}

{% block body %}


    <body>
    <section id="saved-result">
        <h1>Here is your saved itinerary: </h1>
            <ol id="result">
                {% for category in ride_category %}
                    <li> {{ category.name }}  </li>
                    <!-- {% for ride in ride_name %}                   
                        <li>{{ ride.name }} </li> -->
            <!-- {% endfor %}  -->
            {% endfor %}
        </body>

<h2> Would you like to create a new itinerary? </h2>
    
    <p> <a href=form > <button style="height:75px;width:150px"> Yes </button></a> </p>

    <br>

{% endblock %}

<!-- other option -->
<!-- could use nav bar new trip, profile, log out/in -->